<section>
  <div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('./assets/img/slider/slider2.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-12 ml-auto mr-auto">
          <div class="brand">
              <h1 class="title">Contrata profesionales expertos para cualquier tipo de trabajo </h1>
            <!-- <h2>Contrata profesionales expertos para cualquier tipo de trabajo</h2> -->
            
            <button class="btn btn-info btn-round" [routerLink]="['/registry']">
              <i class="material-icons">favorite</i> Quiero Contratar
            </button>
            <a class="btn btn-success btn-round" [routerLink]="['/registerprovider']">
              <i class="material-icons">favorite</i> Ofrecer mis servicios
            </a>
          </div>
        </div>
        <div class="col-md-4 col-12 ml-auto mr-auto">
            <img class="img-slider" src="./assets/img/slider/avatar.png" alt="ServiFast" width="100%">
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">
    <div class="container-fluid">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">¿Qué es lo que buscas?</h2>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-12">
            <div class="card">
              <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                  <i class="material-icons">category</i> CATEGORÍAS
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12 scroll_text">
                    <ul class="card-cat">
                      <li *ngFor="let item of listaCategories">
                        <a href="#">
                          {{item.description}} <i class="material-icons pull-right">navigate_next</i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8 col-md-8 col-sm-8 col-12">
            <div class="card col-6">
              <div class="card-body">
                <!-- <form>
                  <input type="search" name="buscar" id="buscar" class="form-control" placeholder="Buscar Productos...">
                </form> -->
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar Proveedores..." aria-label="Buscar Proveedores..." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <a href="#"><i class="material-icons pull-right">search</i></a>
                      <!-- <button class="btn btn-outline-secondary" type="button">Button</button> -->
                    </div>
                  </div>
              </div>
            </div>
            
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-12" *ngFor="let item of listaProviders">

                    <a class="efecto" [routerLink]="['/categoryprovider/',item.id]">
                      <div class="contact card">
                        <div class="row">
                          <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                            <div class="avatar">
                              <img src="../assets/img/iconos/contact.jpg" class="img-raised rounded-circle img-fluid" width="50%">
                            </div>
                            <b>{{item.name}} {{item.lastname}}</b>
                          </div>
                          <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                            <div class="row">
                              <div class="col-12 text-left">
                                <i class="fa fa-envelope icon-contact"></i><span>{{item.email}}</span>
                              </div>
                              <div class="col-12 text-left">
                                <i class="fa fa-phone icon-contact"></i><span>{{item.phone}}</span>
                              </div>
                              <div class="col-12 text-left">
                                <i class="fa fa-map-marker icon-contact"></i><span>{{item.location.address}}</span>
                              </div>
                              <div class="col-12 text-left">
                                <i class="fa fa-star icon-contact"></i>
                                <i class="fa fa-star icon-contact"></i>
                                <i class="fa fa-star icon-contact"></i>
                                <i class="fa fa-star icon-contact"></i>
                              </div>
                            </div>  
                          </div>
                        </div>
                      </div>
                    </a>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid section-img" style="background-image: url('./assets/img/banner.jpg');">
      <div class="row">
        <div class="col-md-6 md-offset-4 ml-auto mr-auto text-center">
          <h2 class="title blanco">¿Quieres ofrecer tus servicios?</h2>
          <h5 class="description blanco">ServiFast te ayuda a ofrecer tus servicios / habilidades enfocvado para peronsas que se encuentran sin trabajo o desean generar ingresos extra.</h5>
          <br>
          <a href="#" class="btn btn-primary" [routerLink]="['/registerprovider']">Incribirse</a>
        </div>
      </div>
    </div>

    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-md-6 md-offset-4 ml-auto mr-auto">
          <h2 class="title">ServiFast</h2>
          <h5 class="description">Contamos con una lista de trabajadores profesionales que buscan ofrecer sus habilidades mediante nuestra plataforma.</h5>
        </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="material-icons">chat</i>
              </div>
              <h4 class="info-title">Fácil</h4>
              <p>Siempre a tu alcance. Obtén acceso a trabajadores profesionales y desde donde estés, de la manera más sencilla.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">speed</i>
              </div>
              <h4 class="info-title">Rápido</h4>
              <p>Estamos para atenderte cuando más nos necesitas. Programa la visita de un experto al servicio del hogar en cuestión de minutos.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">verified_user</i>
              </div>
              <h4 class="info-title">Seguro</h4>
              <p>Cada uno de nuestros colaboradores estan altamente calificados para brindarte un servicio rápido y seguro.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    


    <!-- <div class="section text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Let&apos;s talk product</h2>
          <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn&apos;t scroll to get here. Add a button if you want the user to see more.</h5>
        </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="material-icons">chat</i>
              </div>
              <h4 class="info-title">Free Chat</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">verified_user</i>
              </div>
              <h4 class="info-title">Verified Users</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">fingerprint</i>
              </div>
              <h4 class="info-title">Fingerprint</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    

  </div>

</section>