.scroll_text{
	height:500px;
	overflow:auto;
	padding:0px 15px;
}
.scroll_text::-webkit-scrollbar {  
    width: 8px;  
}  
.scroll_text::-webkit-scrollbar-track {  
    background-color: #E7E7E7
}  
.scroll_text::-webkit-scrollbar-thumb {  
   background-color: rgba(126,34,164, 0.69);
   border: 1px solid rgba(92, 92, 92, 0.5);
   border-radius: 10px;
}  
.scroll_text::-webkit-scrollbar-thumb:hover {  
    background-color: #000;  
} 
.card-cat li{
    margin: 10px 2px;
    padding: 10px 20px;
    background-color: #E7E7E7;
    text-align: left;
    border-radius: 5px;
}
.card-cat li a{
    color: #000000;
    text-transform: uppercase;
}

.efecto .card:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 0 3px 5px -1px rgba(157,183,255,.1), 0 5px 8px 0 rgba(0,0,30,.07), 0 1px 14px 0 rgba(0,0,30,.06);
}

.efecto .card{
    transition: all 0.1s ease-in-out;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.contact{
    padding: 8px 5px;
}
.section-img{
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-size: cover;
    background-attachment: fixed;
}