<section class="profile-page">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/contact.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3 class="title">Lista de usuarios registrados</h3>
          </div>

          <div class="col-md-6 col-sm-12 col-12" *ngFor="let item of listaUsuarios">
            <div class="card">
              <div class="row contact">
                <div class="col-4">
                  <div class="avatar ">
                    <img src="../assets/img/iconos/contact.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                  </div>
                </div>
                <div class="col-8">
                  <div class="row">
                    <div class="col-12 text-left">
                      <i class="fa fa-address-book icon-contact"></i>
                      <b>{{item.name}} {{item.lastname}}</b>
                    </div>
                    <div class="col-12 text-left">
                      <i class="fa fa-calendar icon-contact"></i>
                      <span>{{item.datebirth | date:'d/M/y' }}</span>
                    </div>
                    <div class="col-12 text-left">
                      <i class="fa fa-user icon-contact"></i>
                      <span>{{item.username}}</span>
                    </div>
                    <div class="col-12 text-left">
                      <i class="fa fa-envelope icon-contact"></i>
                      <span>{{item.email}}</span>
                    </div>
                    <div class="col-12 text-left">
                      <i class="fa fa-map-marker icon-contact"></i>
                      <span>{{item.location.address}}</span>
                    </div>
                    <hr>
                    <div class="col-12 text-left">
                      <i class="fa fa-star icon-contact"></i>
                      <i class="fa fa-star icon-contact"></i>
                      <i class="fa fa-star icon-contact"></i>
                      <i class="fa fa-star icon-contact"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



