<section class="profile-page">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/contact.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3 class="title">Bienvenido a la administración de Cliente</h3>
          </div>

          <div class="col-md-12 col-sm-12 col-12">
            <ul class="nav nav-pills nav-pills-icons" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#dashboard-1" role="tab" data-toggle="tab">
                        <i class="material-icons">fact_check</i>
                        Servicios Contratados
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#schedule-1" role="tab" data-toggle="tab">
                        <i class="material-icons">how_to_reg</i>
                        Mis Calificaciones
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tasks-1" role="tab" data-toggle="tab">
                        <i class="material-icons">add_shopping_cart</i>
                        Contratar Servicios
                    </a>
                </li>
            </ul>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="dashboard-1">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 " *ngFor="let item of listaServicios">
                      <div class="card">
                        <div class="row" style="padding: 5px 8px;">
                          <div class="col-6"><h5><b>Proveedor: </b> {{item.provider['name']}} {{item.provider['lastname']}}</h5></div>
                          <div class="col-6"><h5><b>Fecha Solicitud: </b> {{item.date | date: 'dd/MM/yyyy'}}</h5></div>
                          <div class="col-6"><h5><b>Email: </b> {{item.provider['email']}}</h5></div>
                          <div class="col-6"><h5><b>Teléfono: </b> {{item.provider['phone']}}</h5></div>
                          <div class="col-6"><h5><b>Categoría: </b> {{item.category['description']}}</h5></div>
                          <div class="col-6">
                            <a href="javascript:void(0)" class="btn btn-success pull-right"><i class="material-icons">star</i> Calificar</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="schedule-1">
                  Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                  <br><br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                </div>
                <div class="tab-pane" id="tasks-1">
                    Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                    <br><br>Dynamically innovate resource-leveling customer service for state of the art customer service.
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



