<section class="login-page">
    <div class="page-header header-filter" style="background-image: url('../assets/img/login/banner.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 ml-auto mr-auto">
              <div class="card card-login" style="padding-top: 50px;">

                <form class="form" autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

                  <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">Crear Cuenta como Cliente</h4>
                    <div class="social-line">
                      <a href="#pablo" class="btn btn-just-icon btn-link">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </div>
                  </div>
                  <p class="description text-center">O También:</p>
                  <div class="card-body form-registro">
                    <div class="row">
                        <div class="col-md-6 col-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Nombres</label>
                            <input type="text" class="form-control" formControlName="name" [class.is-invalid]="nameInvalid">
                            <small *ngIf="nameInvalid" class="text-danger">
                              Ingrese sus nombres
                            </small>
                          </div>
                        </div>

                        <div class="col-md-6 col-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Apellidos</label>
                            <input type="text" class="form-control" formControlName="lastname" [class.is-invalid]="lastnameInvalid">
                            <small *ngIf="lastnameInvalid" class="text-danger">
                              Ingrese sus apellidos
                            </small>
                          </div>
                        </div>

                        <div class="col-md-6 col-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Fecha Nacimiento</label>
                            <input type="date" class="form-control" formControlName="datebirth" [class.is-invalid]="datebirthInvalid">
                            <small *ngIf="datebirthInvalid" class="text-danger">
                              Ingrese su fecha de nacimiento
                            </small>
                          </div>
                        </div>

                        <div class="col-md-6 col-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Email</label>
                            <input type="email" class="form-control" formControlName="email" [class.is-invalid]="emailInvalid">
                            <small *ngIf="emailInvalid" class="text-danger">
                              Ingrese su correo electrónico
                            </small>
                          </div>
                        </div>
                        <div class="col-md-12 col-12">
                          <div class="form-group" formGroupName="location">
                            <label class="bmd-label-floating">Dirección</label>
                            <input type="text" class="form-control" formControlName="address" [class.is-invalid]="addressInvalid">
                            <small *ngIf="addressInvalid" class="text-danger">
                              Ingrese su dirección
                            </small>
                          </div>
                        </div>

                        <div class="col-md-6 col-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">Usuario</label>
                              <input type="text" class="form-control" formControlName="username" [class.is-invalid]="usernameInvalid">
                              <small *ngIf="usernameInvalid" class="text-danger">
                              Ingrese un nombre de usuario
                            </small>
                            </div>
                          </div>

                          <div class="col-md-6 col-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">Contraseña</label>
                              <input type="password" class="form-control" formControlName="secret" [class.is-invalid]="secretInvalid">
                              <small *ngIf="secretInvalid" class="text-danger">
                              Ingrese una contraseña para su cuenta
                            </small>
                            </div>
                          </div>

                      </div>
                      <br>
                      <div class="row">
                        <div class="col-12 ml-auto mr-auto text-center">
                            <button class="btn btn-primary btn-round btn-lg" type="submit">
                                <i class="material-icons">account_circle</i> Crear Cuenta
                            </button>
                            <div class="reg text-center">
                                <a [routerLink]="['/login']">¡Ya tienes cuenta! Iniciar sesión</a> 
                            </div>
                            <br>
                        </div>
                      </div>
                      
                  </div>
                 
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>