<section class="login-page">
    <div class="page-header header-filter" style="background-image: url('../assets/img/login/banner.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 ml-auto mr-auto">
              <div class="card card-login">

                <form #loginForm="ngForm" class="form"  (ngSubmit)="login(loginForm)">
                  <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">Iniciar Sesión</h4>
                    <div class="social-line">
                      <a href="#pablo" class="btn btn-just-icon btn-link">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </div>
                  </div>
                  <p class="description text-center">O Tambien :</p>
                  <div class="card-body">    
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="tipoUser" id="exampleRadios1" value="option1" [checked]="true" ngModel>
                       Cliente
                        <span class="circle">
                          <span class="check"></span>
                        </span>
                      </label>
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="tipoUser" id="exampleRadios2" value="option2"  ngModel>
                       Proveedor
                        <span class="circle">
                          <span class="check"></span>
                        </span>
                      </label>
                  </div>

                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">person_pin</i>
                        </span>
                      </div>
                      <input type="text" class="form-control" name="username" placeholder="Usuario..." ngModel>
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>
                      <input type="password" class="form-control" name="secret" placeholder="Contraseña..." ngModel>
                    </div>
                  </div>
                  <div class="footer text-center" style="padding-bottom: 20px;">
                    <button class="btn btn-primary btn-round btn-lg" type="submit">
                        <i class="material-icons">login</i> Iniciar Sesión
                    </button>
                    <!-- <div class="reg text-center">
                        <a [routerLink]="['/registry']">¡No tengo cuenta! Registrate aquí</a>
                      </div> -->
                  </div>
                 
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>