<section class="profile-page">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/contact.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3 class="title">Bienvenido {{proveedor}}</h3>
          </div>

          <div class="col-md-12 col-sm-12 col-12">
            <ul class="nav nav-pills nav-pills-icons" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#dashboard-1" role="tab" data-toggle="tab">
                        <i class="material-icons">assignment_ind</i>
                        Datos Personales
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#schedule-1" role="tab" data-toggle="tab">
                        <i class="material-icons">how_to_reg</i>
                        Mis Servicios ofrecidos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tasks-1" role="tab" data-toggle="tab">
                        <i class="material-icons">add_shopping_cart</i>
                        Mis Calificaciones
                    </a>
                </li>
            </ul>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="dashboard-1">
                  <div class="row">
                    <ul class="lista col-12">
                      <li>
                        <b>id:</b> {{id}}
                      </li>
                      <li>
                        <b>Nombres y Apellidos:</b> {{proveedor}}
                      </li>
                      <li>
                        <b>Cumpleaños:</b> {{cumpleanios | date: 'dd/MM/yyyy'}}
                      </li>
                      <li>
                        <b>Usuario:</b> {{usuario}}
                      </li>
                      <li>
                        <b>Email:</b> {{email}}
                      </li>
                      <li>
                        <b>Teléfono:</b> {{telefono}}
                      </li>
                      <li>
                        <b>Dirección:</b> {{direccion['address']}}
                      </li>
                      <li>
                        <b>Descripción:</b> {{descripcion}}
                      </li>
                      <li>
                        <b>Experiencia:</b> {{experiencia}}
                      </li>
                      <li>
                        <b>Frases Clave:</b> {{frases}}
                      </li>
                    </ul>

                    <div class="row col-12">
                      <a href="javascript:void(0)" class="btn btn-primary" data-toggle="modal" data-target="#modificarDatos" (click)="editar(id)">Modificar Perfil</a>
                    </div>

                  </div>
                </div>
                <div class="tab-pane" id="schedule-1">
                  <div class="row">
                    <div class="col-12">
                      <a href="javascript:void(0)" class="btn btn-primary" data-toggle="modal" data-target="#agregarCategoria" (click)="agregarCategoria()">Agregar Categoría</a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-12" *ngFor="let item of listaCategorias">
                        <div class="card espacios text-center">
                            <div>
                                <h4>{{item.description}}</h4>
                                <div class="text-center">
                                    <i class="fa fa-star icon-contact"></i>
                                    <i class="fa fa-star icon-contact"></i>
                                    <i class="fa fa-star icon-contact"></i>
                                    <i class="fa fa-star icon-contact"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                </div>
                <div class="tab-pane" id="tasks-1">
                    lista de calificaciones
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="modificarDatos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar datos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">

          <form class="form" autocomplete="off" [formGroup]="forma" (ngSubmit)="actualizar()">
            <div class="row">
              <input type="hidden" class="form-control" formControlName="id">
              <input type="hidden" class="form-control" formControlName="username">
              <input type="hidden" class="form-control" formControlName="secret">
              <!-- <input type="text" class="form-control" formControlName="datebirth"> -->
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Nombres</label>
                  <input type="text" class="form-control" formControlName="name">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Apellidos</label>
                  <input type="text" class="form-control" formControlName="lastname">
                </div>
              </div>
              <div class="col-md-12 col-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Email</label>
                  <input type="text" class="form-control" formControlName="email">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Teléfono</label>
                  <input type="number" class="form-control" formControlName="phone">
                </div>
              </div>
              <!-- <div class="col-md-12 col-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Dirección</label>
                  <input type="text" class="form-control" formControlName="address">
                </div>
              </div> -->
              <div class="col-md-12 col-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Descripción</label>
                  <textarea class="form-control" rows="3" formControlName="about"></textarea>
                </div>
              </div>
              <div class="col-md-12 col-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Experiencia</label>
                  <input type="text" class="form-control" formControlName="experience" maxlength="50">
                </div>
              </div>
              <div class="col-md-12 col-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Frases Clave</label>
                  <input type="text" class="form-control" formControlName="keyphrases" maxlength="100">
                </div>
              </div>
            </div>
          </form>
            
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cerrarModal">Cancelar</button>
        <button type="button" class="btn btn-primary" type="submit" (click)="actualizar()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<button type="hidden" style="display: none;" data-toggle="modal" data-target="#modalExito" id="mostrarExito"></button>

<div class="modal fade" id="modalExito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controls-modal="your_div_id" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mensaje...!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Datos Actualizados con éxito. Es necesario iniciar sesión nuevamente.</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="logout()">Confirmar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="agregarCategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar categorías a mi perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">

          <form class="form" autocomplete="off" [formGroup]="formaCategoria" (ngSubmit)="registrarCategoria()">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Categorías</label>
                  <select id="inputState" class="form-control"  formControlName="categories">
                    <option *ngFor="let data of listaCategoriesTodas" value="">{{data.description}}</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
            
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" type="submit">Guardar</button>
      </div>
    </div>
  </div>
</div>

