<section class="profile-page">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/contact.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h3 class="title">Categorías que ofrece {{nombres}} {{apellidos}}</h3>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <div class="card">
                <div class="row espacios">
                    <ul class="lista col-12">
                        <li>
                          <b><i class="fa fa-user"></i> Nombres y Apellidos: {{nombres}} {{apellidos}}</b>
                        </li>
                        <li>
                          <b><i class="fa fa-calendar"></i> Cumpleaños:</b> {{cumpleanios | date: 'dd-MM-yyyy'}}
                        </li>
                        <li>
                          <b><i class="fa fa-envelope"></i> Email:</b> {{email}}
                        </li>
                        <li>
                          <b><i class="fa fa-phone"></i> Teléfono:</b> {{telefono}}
                        </li>
                        <li>
                          <b><i class="fa fa-address-book"></i> Descripción:</b> {{descripcion}}
                        </li>
                        <li>
                          <b><i class="fa fa-graduation-cap"></i> Experiencia:</b> {{experiencia}}
                        </li>
                      </ul>
                </div>
              </div>
          </div>

          <div class="col-lg-8 col-md-8 col-sm-8 col-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-12" *ngFor="let item of listaCategoriasProvider">
                    <div class="card espacios text-center">
                        <div>
                            <h4>{{item.description}}</h4>
                            <div class="text-center">
                                <i class="fa fa-star icon-contact"></i>
                                <i class="fa fa-star icon-contact"></i>
                                <i class="fa fa-star icon-contact"></i>
                                <i class="fa fa-star icon-contact"></i>
                            </div>
                            <hr>
                            <div *ngIf="tipoLogin === null">
                              <a [routerLink]="['/login']" >Inicie sesión para solicitar</a>
                            </div>
                            <div *ngIf="tipoLogin === 'cliente'">
                              <a href="javascript:void(0)" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirmar" (click)="solicitar(item.id)">Solicitar</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="modalConfirmar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controls-modal="your_div_id" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmar Solicitud</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>¿Esta seguro de solicitar esta categoría?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()" id="cerrarModal">Cacelar</button>
        <button type="button" class="btn btn-primary" (click)="confirmarSolicitud()">Confirmar</button>
      </div>
    </div>
  </div>
</div>
<button type="hidden" style="display: none;" data-toggle="modal" data-target="#modalExito" id="mostrarExito"></button>

<div class="modal fade" id="modalExito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controls-modal="your_div_id" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mensaje...!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Servicio solicitado con éxito</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>





