<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" [routerLink]="['home']">
          ServiFast </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['home']">
              <i class="material-icons">home</i> Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['home']">
              <i class="material-icons">assignment_ind</i> Acerca de
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['services']">
              <i class="material-icons">assignment_turned_in</i> Servicios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['home']">
              <i class="material-icons">contact_support</i> Ayuda
            </a>
          </li>
          
          <li class="nav-item">
            <a *ngIf="logeado === true && tipoLogin === 'cliente'" class="nav-link" [routerLink]="['index']">
              <i class="material-icons">fact_check</i> Servicios Contratados
            </a>
          </li>

          <li class="nav-item">
            <a *ngIf="logeado === true && tipoLogin === 'proveedor'" class="nav-link" [routerLink]="['principal']">
              <i class="material-icons">account_circle</i> Mi Perfil
            </a>
          </li>

          <li class="dropdown nav-item" *ngIf="logeado === true">

            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" >
              <i class="material-icons">assignment_ind</i> {{usuario}} - {{tipoLogin}}
            </a>

            <div class="dropdown-menu dropdown-with-icons">
              <a *ngIf="logeado" class="dropdown-item" href="#" (click)="logout()">
                <i class="material-icons">account_circle</i> Cerrar Sesión
              </a>
            </div>
          </li>

          <li class="dropdown nav-item" *ngIf="logeado === false">
            
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" >
              <i class="material-icons">assignment_ind</i> Mi Cuenta
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a class="dropdown-item" [routerLink]="['login']">
                <i class="material-icons">login</i> Iniciar Sesión
              </a>
              <a class="dropdown-item" [routerLink]="['registry']">
                <i class="material-icons">account_circle</i> Registrarme
              </a>
            </div>
          </li>

          
        </ul>
      </div>
    </div>
  </nav>
